{{#*inline "page"}}
	<div class="row">
		<div class="col-sm">
			<div class="row">
				<div class="col">
					<h2 class="text-center">Bugün</h2>
					{{#each today}}
						{{> hwFull}}
					{{/each}}
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h2 class="text-center">Ödevler</h2>
					{{#each hw}}
						{{> hwSimple}}
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-sm">
			<h2 class="text-center">Plan</h2>
			{{#each all}}
				{{#each this}}
					{{> hwFull}}
				{{/each}}
				<div class="dropdown-divider"></div>
			{{/each}}
		</div>
	</div>
{{/inline}}

{{#*inline "hwFull"}}
    {{#> hwBase}}
		<h4 class="card-title">{{hw.detail}}</h4>
		<p class="card-text">
		    {{dueDate hw.due_date}} {{hw.amount}} test var.
			{{hw.progress}} test yapıldı, {{amount}} test yapılacak.
		</p>
		<div class="progress">
		    <div class="progress-bar" role="progressbar" style="width: {{percent hw.progress hw.amount}}%"></div>
		    <div class="progress-bar bg-success" role="progressbar" style="width: {{percent amount hw.amount}}%"></div>
		</div>
	{{/hwBase}}
{{/inline}}

{{#*inline "hwSimple"}}
    {{#> hwBase}}
		<h4 class="card-title">{{detail}}</h4>
		<p class="card-text">
		    {{dueDate due_date}} {{amount}} test var,
			{{progress}} test yapıldı.
		</p>
	{{/hwBase}}
{{/inline}}

{{#*inline "hwBase"}}
    <div class="card text-white bg-dark mb-3">
    	<div class="card-body">
			{{> @partial-block}}
		</div>
    </div> 
{{/inline}}

{{~> layout~}}
