{{#*inline "page"}}
	<div class="row">
		<div class="col-lg">
			<div class="row">
				<div class="col">
					<h2 class="text-center">Bugün</h2>
					{{#each today}}
						{{> hwFull}}
					{{/each}}
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h2 class="text-center">Ödevler</h2>
					{{#each hw}}
						{{> hwSimple}}
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-lg">
			<h2 class="text-center">Plan</h2>
			{{#each all}}
				{{date this.0}}
				{{#each this.1}}
					{{> hwPlan}}
				{{/each}}
				<div class="dropdown-divider"></div>
			{{/each}}
		</div>
	</div>
{{/inline}}

{{#*inline "hwFull"}}
	{{#if (sub hw.amount hw.delta)}}
    	{{#> hwBase}}
			<h4 class="card-title">{{hw.detail}}</h4>
			<p class="card-text">
			    {{dueDate hw.due_date}} {{hw.amount}} test var.
				{{hw.progress}} test önceden yapıldı, {{amount}} test yapılacak. 
				{{#if hw.delta}}
					{{hw.delta}} test bitti, {{sub amount hw.delta}} test kaldı.
				{{/if}}
			</p>
			<div class="row mb-2">
				<div class="col">
					<div class="progress">
					    <div class="progress-bar" role="progressbar" style="width: {{percent hw.progress hw.amount}}%"></div>
					    <div class="progress-bar bg-success" role="progressbar" style="width: {{percent hw.delta hw.amount}}%"></div>
					    <div class="progress-bar bg-warning" role="progressbar" style="width: {{percent (sub amount hw.delta) hw.amount}}%"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-auto" style="padding-right: 0;">
					<form method="POST" action="/api/homework/progress">
						<input type="hidden" name="amount" value="{{sub amount hw.delta}}">
						<input type="hidden" name="use_delta" value="true">
						<input type="hidden" name="id" value="{{hw.db_id}}">
						<button class="btn bg-primary">Günü bitir</button>
					</form>
				</div>
				<div class="col-auto" style="padding-right: 0;">
					<form method="POST" action="/api/homework/progress">
						<input type="hidden" name="amount" value="1">
						<input type="hidden" name="use_delta" value="true">
						<input type="hidden" name="id" value="{{hw.db_id}}">
						<button class="btn bg-primary">Bir test bitir</button>
					</form>
				</div>
				<div class="col-auto" style="padding-right: 0;">
					<form method="POST" action="/api/homework/progress">
						<input type="hidden" name="amount" value="-1">
						<input type="hidden" name="use_delta" value="true">
						<input type="hidden" name="id" value="{{hw.db_id}}">
						<button class="btn bg-primary">Bir test ekle</button>
					</form>
				</div>
			</div>
		{{/hwBase}}
	{{/if}}
{{/inline}}

{{#*inline "hwPlan"}}
	{{#if (sub hw.amount hw.delta)}}
    	{{#> hwBase}}
			<h4 class="card-title">{{hw.detail}}</h4>
			<p class="card-text">
			    {{dueDate hw.due_date}} {{hw.amount}} test var.
				{{hw.progress}} test önceden yapıldı, {{amount}} test yapılacak. 
				{{#if hw.delta}}
					{{hw.delta}} test bitti, {{sub amount hw.delta}} test kaldı.
				{{/if}}
			</p>
			<div class="progress mb-2">
			    <div class="progress-bar" role="progressbar" style="width: {{percent hw.progress hw.amount}}%"></div>
			    <div class="progress-bar bg-success" role="progressbar" style="width: {{percent hw.delta hw.amount}}%"></div>
			    <div class="progress-bar bg-warning" role="progressbar" style="width: {{percent (sub amount hw.delta) hw.amount}}%"></div>
			</div>
		{{/hwBase}}
	{{/if}}
{{/inline}}

{{#*inline "hwSimple"}}
    {{#> hwBase}}
		<h4 class="card-title">{{detail}}</h4>
		<p class="card-text">
		    {{dueDate due_date}} {{amount}} test var,
			{{progress}} test yapıldı.
		</p>
	{{/hwBase}}
{{/inline}}

{{#*inline "hwBase"}}
    <div class="card text-white bg-dark mb-3">
    	<div class="card-body">
			{{> @partial-block}}
		</div>
    </div> 
{{/inline}}

{{~> layout~}}
