{{#*inline "page"}}
	<div class="row">
		<div class="col-sm">
			<div class="row">
				<div class="col">
					<h2 class="text-center">Bugün</h2>
					{{#each today}}
						{{> hwFull}}
					{{/each}}
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h2 class="text-center">Ödevler</h2>
					{{#each hw}}
						{{> hwSimple}}
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-sm">
			<h2 class="text-center">Plan</h2>
			{{#each all}}
				{{#each this}}
					{{> hwPlan}}
				{{/each}}
				<div class="dropdown-divider"></div>
			{{/each}}
		</div>
	</div>
{{/inline}}

{{#*inline "hwFull"}}
	{{#if (sub hw.amount hw.delta)}}
    	{{#> hwBase}}
			<h4 class="card-title">{{hw.detail}}</h4>
			<p class="card-text">
			    {{dueDate hw.due_date}} {{hw.amount}} test var.
				{{hw.progress}} test önceden yapıldı, {{amount}} test yapılacak. 
				{{#if hw.delta}}
					{{hw.delta}} test bitti, {{sub amount hw.delta}} test kaldı.
				{{/if}}
			</p>
			<div class="progress mb-2">
			    <div class="progress-bar" role="progressbar" style="width: {{percent hw.progress hw.amount}}%"></div>
			    <div class="progress-bar bg-success" role="progressbar" style="width: {{percent hw.delta hw.amount}}%"></div>
			    <div class="progress-bar bg-warning" role="progressbar" style="width: {{percent (sub amount hw.delta) hw.amount}}%"></div>
			</div>
			<button class="btn bg-primary">Günü bitir</button>
			<button class="btn bg-primary">Ekle</button>
		{{/hwBase}}
	{{/if}}
{{/inline}}

{{#*inline "hwPlan"}}
	{{#if (sub hw.amount hw.delta)}}
    	{{#> hwBase}}
			<h4 class="card-title">{{hw.detail}}</h4>
			<p class="card-text">
			    {{dueDate hw.due_date}} {{hw.amount}} test var.
				{{hw.progress}} test önceden yapıldı, {{amount}} test yapılacak. 
				{{#if hw.delta}}
					{{hw.delta}} test bitti, {{sub amount hw.delta}} test kaldı.
				{{/if}}
			</p>
			<div class="progress mb-2">
			    <div class="progress-bar" role="progressbar" style="width: {{percent hw.progress hw.amount}}%"></div>
			    <div class="progress-bar bg-success" role="progressbar" style="width: {{percent hw.delta hw.amount}}%"></div>
			    <div class="progress-bar bg-warning" role="progressbar" style="width: {{percent (sub amount hw.delta) hw.amount}}%"></div>
			</div>
		{{/hwBase}}
	{{/if}}
{{/inline}}

{{#*inline "hwSimple"}}
    {{#> hwBase}}
		<h4 class="card-title">{{detail}}</h4>
		<p class="card-text">
		    {{dueDate due_date}} {{amount}} test var,
			{{progress}} test yapıldı.
		</p>
	{{/hwBase}}
{{/inline}}

{{#*inline "hwBase"}}
    <div class="card text-white bg-dark mb-3">
    	<div class="card-body">
			{{> @partial-block}}
		</div>
    </div> 
{{/inline}}

{{~> layout~}}
